html
  position relative
  min-height 100%
body
  font-family 'Dosis', sans-serif
  margin-bottom 60px
.jumbo-title
  padding-top 10px !important
  padding-bottom 10px !important
  text-align center
  .display-3
    font-size 2rem